body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  border-top: solid 1px;
}
.question input {
  width: 50%;
  font-size: 2vh;
  border-radius: 3px;
  border: gray 1px solid;
}
.question button {
  margin-top: 2%;
}
.question span {
  margin-top: 1%;
  padding: 1%;
  text-align: center;
  border: solid gray 1.5px;
  width: 100px;
}

.jokenpo-options {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.jokenpo-options span {
  border: none;
  padding: none;
}

.fields label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
